body{
    padding: 0;
    margin: 0;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.container_heading{
    background-image: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&w=400");
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items:center;
    background-color:transparent !important;;
    color: white;
    width: 100%;
    height: 10vh;
    gap: 20px;
    
}
a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
a:hover{
    text-decoration: underline;
}

.png_header{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
}
.welcome_heading{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white !important;   
}

.search_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.form-control{
    height: 40px;
    width: 1000px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    
}
#Search_btn{
    height: 50px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

/*current_weather*/

.container_currentweather{
    background-size: cover;
    height: 430px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    
   
}
.current_weather_heading{
    background-size:contain;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    color: black !important;
    background-color:darkgrey;
    padding: 15px;
    margin: 20px 20px;
    border-radius: 10px;
    font-weight: bold;
    
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    gap: 10px;
}
.current_weather_data_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 15px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 150px;
}
.current_weather_data_row:hover{
    transition:  transform 0.6s ease;
    transform: scale(1.03); 
   
}
.current_weather_twoPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 15px;
    color: black;
    gap: 20px;
}
.table_current_location,th,td {
    color: white;
    margin: 20px 0;
    font-size: 18px;
    overflow: hidden;
    border: 1px solid ;
    margin: 0 20px;
    padding: 15px;
}
th,td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid ;
    border-right: 1px solid ;
    border-collapse: collapse;
    background-color: darkgrey;
    justify-content:space-between;
   
   
}
th i{
    margin-right: 5px;
}


/*weather forcasting*/

.container_forcast_weather_datar{
    background-size: cover;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    
   
}
.forcast_weather_data_heading{
    background-size:contain;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    color: black !important;
    background-color:darkgrey;
    padding: 15px;
    margin: 20px 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    gap: 10px;
}
.forcast_weather_data_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 15px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    height:auto;
    gap: 20px;
}

.table_forcast_weather_data,th,td {
    color: white;
    margin: 20px 0;
    font-size: 18px;
    overflow: hidden;
    border: 1px solid ;
    margin: 0 20px;
    padding: 15px;
}
th,td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid ;
    border-right: 1px solid ;
    border-collapse: collapse;
    background-color: darkgrey;
    justify-content:space-between;
   
   
}
th i{
    margin-right: 5px;
}
.date{
   margin-right: 10px;
}
/* map */
.container_forcast_weather_datar_map{
    background-size: cover;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
#map{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
/* Fotter */
.container_footer {
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-content a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Responsive Design */
/* 1380px and below */
@media (max-width: 1390px) {
    .container_heading{
        
        height: 33vh;
        
    }
    .container_currentweather{
        height: 430px;
    }
    #png_erth{
        height: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
    .welcome_heading {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 31px;
        color: white !important; 
    }
    .form-control{
        height: 40px;
        width: 400px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        margin-right: 10px;
        margin-top: 0;
    }
   
    
    .table_current_location, .table_current_location th, .table_current_location td {
        font-size: 18px;
       
    }

    .table_current_location ,.table_forcast_weather_data{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .container_forcast_weather_datar{
        height: 370px;
    }
    .footer-content {
        padding: 10px;
        font-size: 12px;
    }
    .table_forcast_weather_data,.table_forcast_weather_data th,.table_forcast_weather_data td{
        
        font-size: 29px;
    }
}


/* 780px and below */
@media (max-width: 780px) {
    
  
    .table_current_location, .table_current_location th, .table_current_location td {
        font-size: 12px;
       
    }

    .table_current_location ,.table_forcast_weather_data{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .container_forcast_weather_datar{
        height: 350px;
    }
    .footer-content {
        padding: 10px;
        font-size: 12px;
    }
    .table_forcast_weather_data,.table_forcast_weather_data th,.table_forcast_weather_data td{
        font-size: 18px;
    }
    .current_weather_values{
        font-size: 18px;
    }
}
/* 600px and below */
@media (max-width: 600px) {
    .container_heading{
        height: 33vh;
    }
    .container_currentweather{
        height: 400px;
    }
    #png_erth{
        height: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
    .welcome_heading {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 31px;
        color: white !important; 
    }
    .form-control{
        height: 40px;
        width: 400px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        margin-right: 10px;
        margin-top: 0;
    }
    #clock{
        font-size: 20px;
        
    }
    
    .table_current_location, .table_current_location th, .table_current_location td {
        font-size: 12px;
       
    }

    .table_current_location ,.table_forcast_weather_data{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .container_forcast_weather_datar{
        height: 350px;
    }
    .footer-content {
        padding: 10px;
        font-size: 12px;
    }
    .table_forcast_weather_data,.table_forcast_weather_data th,.table_forcast_weather_data td{
        font-size: 18px;
    }
    
}
/* 550px and below */
@media (max-width: 550px) {
    .container_heading{
        height: 33vh;
    }
    .container_currentweather{
        height: 400px;
    }
    #png_erth{
        height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
    .welcome_heading {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: white !important; 
    }
    .form-control{
        height: 35px;
        width: 300px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        margin-right: 10px;
        margin-top: 0;
    }
    #clock{
        font-size: 14px;
        
    }
    
    .table_current_location, .table_current_location th, .table_current_location td {
        font-size: 12px;
       
    }

    .table_current_location ,.table_forcast_weather_data{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .container_forcast_weather_datar{
        height: 350px;
    }
    .footer-content {
        padding: 10px;
        font-size: 12px;
    }
    .table_forcast_weather_data,.table_forcast_weather_data th,.table_forcast_weather_data td{
        font-size: 18px;
    }
    .current_weather_values p,h1{
        font-size: 18px;
    }
    .container_forcast_weather_datar_map{
        
        height: 550px;
        
       
    }
}
